<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Over mij</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">Ik ben Lucas, 19 jaar en vierdejaarsstudent aan het Technova College.  
<br/><br/>
Als leergierige en serieuze student bouw ik graag praktische en creatieve oplossingen met code. Ik werk zelfstandig en in teamverband, en zet door om problemen op te lossen.  
<br/><br/>
Naast mijn studie werk ik aan persoonlijke projecten en blijf ik nieuwe technologieën leren. Mijn doel is een technisch sterke en creatieve professional te worden.  
<br/><br/>
Ik leer het liefst door te doen en blijf mezelf zo continu verbeteren.</p>
</section>
